.row
  %h2
    = @workshop.name
  %hr/
  %p
    = @workshop.description
  
  %br/
  %hr/
  - if current_user && @workshop.user == current_user
    = link_to 'Edit', edit_workshop_path(@workshop), class: "btn btn-primary"
  
  = link_to 'Back', workshops_path, class: "btn btn-default"
